<div class="page-header">
  <%= link_to online_students_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_online_student_path(@online_student), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
  <% end %>
  <h1>Application Details</h1>
  <h2><small>Application number: </small><%= @online_student.application_number %></h2>
  <div class="alert alert-info">Please make a note of your Application Number. This will be used for any further correspondence. We will process your application and contact you.</div>
</div>

<dl>
  <dt>Applicant Name:</dt>
  <dd><%= @online_student.first_name %><%= " " + @online_student.middle_name %> <%= " " + @online_student.last_name %></dd>

  <dt>Gender:</dt>
  <dd><%= @online_student.gender %></dd>

  <dt>SSLC Hall Ticket #:</dt>
  <dd><%= @online_student.sslc_hall_ticket %></dd>

  <dt>SSLC %age:</dt>
  <dd><%= @online_student.sslc_percentage %></dd>

  <dt>Year of Passing:</dt>
  <dd><%= @online_student.year_of_passing %></dd>

  <dt>Course Likely to Join:</dt>
  <dd><%= @online_student.course_join %></dd>

  <dt>Full Address:</dt>
  <dd><%= @online_student.address_line1 %></dd>
  <dd><%= @online_student.address_line2 %></dd>
  <dd><%= @online_student.address_landmark %></dd>

  <dt>Taluka District State PinCode:</dt>
  <dd><%= @online_student.taluka %> <%= @online_student.district %><%= ", " + @online_student.state %> <%= "Pin: " + @online_student.pincode %></dd>

  <dt>Phone Number:</dt>
  <dd><%= @online_student.phone_number %></dd>

  <dt>Father's Name:</dt>
  <dd><%= @online_student.father_name %></dd>

  <dt>Parent's Occupation:</dt>
  <dd><%= @online_student.parent_occupation %></dd>

  <dt>Family Annual Income:</dt>
  <dd><%= @online_student.family_annual_income %></dd>

</dl>

